img {
  width: 50px;
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-top: 60px;
}

footer div {
  display: flex;
  align-items: center;
  gap: 15px;
}

footer img {
  width: 30px;
  height: 30px;
}